.info-wrap {
  background-color: #000;
  position: relative;
  height: 500px;
  margin-bottom: 100px;
  background-image: url(background-other.jpg);
  background-color: #441fcc;

  background-repeat: no-repeat;
  background-position-y: 37%;
  background-position-x: 45%;
  background-size: cover;
  position: relative;
}

.info-wrap:before {
  background: linear-gradient(
    54deg,
    rgba(0, 127, 253, 0.85) 30%,
    hsla(0, 27%, 54%, 1)
  );
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;
  content: "";
  z-index: 0;
}

.info-content {
  margin-left: 100px;
  /* border: 1px solid white; */
}

.profile-wrap {
  color: #fff;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 400px;
}

.row {
  display: flex;
  flex-direction: row;
}

.name {
  font-size: 40px;
}

.standard-text {
  font-size: 20px;
  font-weight: 300;
}

.field {
  font-weight: bolder;
  text-transform: uppercase;
  margin: 3px 50px 30px 50px;
}
.intro-wrap {
  margin: 140px 50px 50px 50px;
}
.icons {
  font-size: 25px;
  margin-right: 20px;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.logo {
  position: absolute;
  width: 20%;
  top: 120px;
  margin-top: 30px;
  border-radius: 3px;
}
