.navbar {
  width: 100%;
  /* background-color: black; */
  position: fixed;
  z-index: 100000;
}

.navbar.active {
  background-color: #fff;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.14);
  transition: 0.4s;
}

.header {
  padding: 15px;
  margin-left: 65px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.header li {
  margin-right: 30px;
}

.header li a {
  color: #fff;
  text-decoration: none;
  font-family: "Trispace", sans-serif;
  text-transform: uppercase;
}

.nav-dark {
  color: #000 !important;
}

.header li a:hover {
  color: #bf81a4 !important;
}
