.navbar {
  width: 100%;
  height: 400px;
  background-color: black;
}

.header {
  margin-top: 0;
  margin-left: 70px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.header > li {
  margin-right: 30px;
  margin-top: 5%;
}
.header > li > a {
  color: #fff;
  text-decoration: none;
  font-family: "Trispace", sans-serif;
  text-transform: uppercase;
}
